body {
    text-align: center;
    list-style-position: inside;
    font-family: 'Gala';
    /* font-family: 'Courier New', Courier, monospace; */
    /* background-color: rgb(151, 150, 150); */
    background: url(./Gray-Background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@font-face {
    font-family: 'Gala';
    src: url(./galascript.ttf);
}

H2 a  {
    color:salmon;
}

.in {
    color: black;
}

#introblock {
    /* border stuff */
    Padding: 10px;
    border: 10px solid ;
    margin: 30px;
    box-sizing: border-box;
    border-radius: 20%;
}

.nav-bar {
    /* Navigational Bar */
    display: inline-block;
    padding: 8px;
    border-color: firebrick;
    text-anchor: start;
    text-align: left;
    text-decoration: none;
    color: white;
    background-color: salmon;
    position: sticky;
    top: 0;
    border-radius: 4px;
    z-index:1;
  }

  a .nav-bar{
      color: white;
  }
  
a:hover {
    background-color: #111;
}

.description p{
    margin-left: 20%;
    margin-right: 20%;
    border: 30% block solid transparent;
}

#JavVid{
    z-index:-1;
    position: 
}
  